<section class="bg-[url('{{ fields.bg_image }}')] py-10">
    <div class="relative max-w-6xl mx-auto flex flex-col gap-8 px-4 z-20 md:max-w-4xl lg:max-w-screen-xxl lg:px-12 xl:flex-row xl:gap-16 xl:mr-0 xl:ml-auto xl:pr-0 xl:pl-8">
        <InnerBlocks />
    </div>
</section>
