<div class="profile max-w-screen-2xl flex flex-col items-start my-8 lg:flex-row lg:gap-8">
  <div class="left-col relative mx-auto w-full max-w-[335px] h-full max-h-[20em] overflow-hidden lg:w-[40%]">
    {% if fields.portrait %}
    <img src="{{ fields.portrait }}" alt="{{ fields.portrait.alt }}" class="w-full h-full object-cover" />
    {% endif %}
  </div>
  <div class="right-col flex flex-col gap-2 justify-start w-full lg:w-[60%]">
    {% if fields.name %}
    <h3 class="name pt-0 mt-0">{{ fields.name }}</h3>
    {% endif %}
    {% if fields.bio %}
    <div class="bio">
      {{ fields.bio }}
    </div>
    {% endif %}
  </div>
</div>
