<div class="px-4 md:px-20 xl:pr-[16rem] xl:pl-[10rem]">
  <div class="flex gap-x-12">
    <div class="line hidden h-[.125rem] w-16 mt-2 bg-eg-darkblue xl:block"></div>
    <div class="xl:w-[90%]">
      <InnerBlocks />
      {% if fields.link %}
        <a href="{{ fields.link.url }}" class="group flex items-center gap-x-6 mt-12 mr-auto font-playfair no-underline">
          {{ fields.link.title }}
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="group-hover:translate-x-4 transition-all ease-in-out duration-300" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
          </svg>
        </a>
      {% endif %}
    </div>
  </div>
</div>
