<footer class="footer-wrapper relative overflow-hidden bg-eg-darkblue/90 pt-[40rem] pb-8">
  <div class="footer-bg-wrapper flex overflow-hidden absolute top-0 bottom-0 -left-[1rem] right-0 lg:-left-[12.75rem]"><img src="/wp-content/uploads/2025/01/footer-bg.webp" alt="Footer Background" class="object-cover h-auto w-auto min-h-full min-w-full" /></div>
  <div class="flex flex-col">
    <div class="top-footer mb-12">
      <div class="footer-logo max-w-[34rem] m-auto py-8 px-4">
        <img src="/wp-content/uploads/2022/06/omalley-logo-hc.png" alt="O/'malley Tunstall Logo" />
      </div>
      <div class="locations-awards flex flex-col m-auto p-4 lg:flex-row lg:justify-around">
        <div class="locations-container flex flex-col items-center justify-center gap-6 m-auto md:flex-row md:gap-16 md:m-0">
            <div class="location flex flex-col items-center">
              <div class="max-w-[22rem] border-[12px] border-white box-border rounded-full">
                <img src="/wp-content/uploads/2025/01/map-1.webp" alt="Raleigh Location">
              </div>
              <div class="align-left">
                <p class="font-playfair text-primary text-3xl mt-4 !mb-6">Raleigh Office</p>
                <p class="text-white text-lg">O'Malley Tunstall PC</p>
                <p class="text-white text-lg">8300 Falls of Neuse Road</p>
                <p class="text-white text-lg">Raleigh, NC 27615</p>
                <a href="tel:919-277-0150" class="footer-call flex gap-2 items-center mt-6 text-white">
                  <span class="footer-phone-icon">
                    <svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 512 512" height="2rem" width="2rem" xmlns="http://www.w3.org/2000/svg">
                      <path d="M160 32c-16 0-32 16-32 32v384c0 16 16 32 32 32h192c16 0 32-16 32-32V64c0-16-16-32-32-32H160zm21.68 23h96v18h-96V55zM304 55h32v18h-32V55zM154 96h204v320H154V96zm70 342h63.984c16 0 16 16 16 16v6H208v-6s0-16 16-16z"></path>
                    </svg>
                  </span>
                  <span class="footer-num">(919) 277-0150</span>
                </a>
              </div>
            </div>
            <div class="location flex flex-col items-center">
              <div class="max-w-[22rem] border-[12px] border-white box-border rounded-full">
                <img src="/wp-content/uploads/2025/01/map-2.webp" alt="Durham Location" />
              </div>
              <div class="align-left">
                <p class="font-playfair text-primary text-3xl mt-4 !mb-6">Rocky Mount Office</p>
                <p class="text-white text-lg">O'Malley Tunstall PC</p>
                <p class="text-white text-lg">1151 Falls Rd, Ste 1008</p>
                <p class="text-white text-lg">Rocky Mount, NC 27804</p>
                <a href="tel:919-277-0150" class="footer-call flex gap-2 items-center mt-6 text-white">
                  <span class="footer-phone-icon">
                    <svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 512 512" height="2rem" width="2rem" xmlns="http://www.w3.org/2000/svg">
                      <path d="M160 32c-16 0-32 16-32 32v384c0 16 16 32 32 32h192c16 0 32-16 32-32V64c0-16-16-32-32-32H160zm21.68 23h96v18h-96V55zM304 55h32v18h-32V55zM154 96h204v320H154V96zm70 342h63.984c16 0 16 16 16 16v6H208v-6s0-16 16-16z"></path>
                    </svg>
                  </span>
                  <span class="footer-num">(252) 823-2266</span>
                </a>
              </div>
            </div>
        </div>
        <div class="awards flex flex-col gap-4 items-center">
          <h3 class="font-playfair text-white text-2xl">Awards</h3>
          <div class="max-w-[16rem] border-[12px] border-white box-border rounded-full">
                <img src="/wp-content/uploads/2025/01/map-1.webp" alt="Raleigh Location">
              </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer flex flex-col items-center justify-center text-white px-1 md:flex-row md:justify-between lg:px-4">
      <div class="copyright">
        <p class="mb-0">&copy; {{ "now"|date("Y") }} O'Malley Tunstall, PC  All Rights Reserved.</p>
      </div>
      <div class="social flex gap-3">
        <p class="font-playfair mb-0 mr-8">Follow us</p>
        <a target="_blank" aria-label="Facebook Page" href="https://www.facebook.com/OMalleyTunstall/" class="SocialMedia__Button-sc-s5xz7-0 cHWaHE">
          <svg class="fill-primary" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><g><path fill="none" d="M0 0h24v24H0z"></path><path d="M13 19.938A8.001 8.001 0 0 0 12 4a8 8 0 0 0-1 15.938V14H9v-2h2v-1.654c0-1.337.14-1.822.4-2.311A2.726 2.726 0 0 1 12.536 6.9c.382-.205.857-.328 1.687-.381.329-.021.755.005 1.278.08v1.9H15c-.917 0-1.296.043-1.522.164a.727.727 0 0 0-.314.314c-.12.226-.164.45-.164 1.368V12h2.5l-.5 2h-2v5.938zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"></path></g></svg>
        </a>
        <a target="_blank" aria-label="Twitter Page" href="https://twitter.com/ncpilawyer/" class="SocialMedia__Button-sc-s5xz7-0 cHWaHE">
          <svg class="fill-primary" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM727.3 401.7c.3 4.7.3 9.6.3 14.4 0 146.8-111.8 315.9-316.1 315.9-63 0-121.4-18.3-170.6-49.8 9 1 17.6 1.4 26.8 1.4 52 0 99.8-17.6 137.9-47.4-48.8-1-89.8-33-103.8-77 17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35 25.1-4.7 49.1-14.1 70.5-26.7-8.3 25.7-25.7 47.4-48.8 61.1 22.4-2.4 44-8.6 64-17.3-15.1 22.2-34 41.9-55.7 57.6z"></path></svg>
        </a>
        <a target="_blank" aria-label="Youtube Channel" href="https://www.youtube.com/user/NCLawyers" class="SocialMedia__Button-sc-s5xz7-0 cHWaHE">
          <svg class="fill-primary" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><g><path fill="none" d="M0 0h24v24H0z"></path><path fill-rule="nonzero" d="M19.606 6.995c-.076-.298-.292-.523-.539-.592C18.63 6.28 16.5 6 12 6s-6.628.28-7.069.403c-.244.068-.46.293-.537.592C4.285 7.419 4 9.196 4 12s.285 4.58.394 5.006c.076.297.292.522.538.59C5.372 17.72 7.5 18 12 18s6.629-.28 7.069-.403c.244-.068.46-.293.537-.592C19.715 16.581 20 14.8 20 12s-.285-4.58-.394-5.005zm1.937-.497C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5v-7l6 3.5-6 3.5z"></path></g></svg>
        </a>
        <a target="_blank" aria-label="LinkedIn Page" href="https://www.linkedin.com/company/keel-o'malley-tunstall-pllc/" class="SocialMedia__Button-sc-s5xz7-0 cHWaHE">
          <svg class="fill-primary" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3zm0 736c-447.8-.1-671.7-.2-671.7-.3.1-447.8.2-671.7.3-671.7 447.8.1 671.7.2 671.7.3-.1 447.8-.2 671.7-.3 671.7zM230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 1 0-137.6 0c-.1 38 30.7 68.8 68.8 68.8zm252.3 245.1c0-49.8 9.5-98 71.2-98 60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6V604.8z"></path></svg>
        </a>
      </div>
    </div>
  </div>
</footer>
