<div class="column {% if fields.hidden %}hidden xl:block{% else %}block{% endif %} w-full {% if fields.bg_image %}bg-[url('{{ fields.bg_image }}')]{% endif %} xl:{{ fields.width }}">
	<InnerBlocks />
</div>
